.main_div{
    height: 20vh;
    width: 60vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.3) 0px 5px 10px;
    gap: 20px;
    margin: 70px auto;
}
.sub_div{
    height: 20vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    height: 50px;
    width: 100%;
    border: 1px solid grey;
}
.button{
    height: 50px;
    border: 1px solid grey;
    width: 150px;
}
.data_div{
    min-height: 20vh;
    max-height: fit-content;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.3) 0px 5px 10px;
    gap: 20px;
    margin: 70px auto;
}
.data_subdiv{
    height: 40px;
    width: 50vw;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 5px;

}
@media (max-width:560px){
    .main_div{
        height: 30vh;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .sub_div{
        width: 100%;
    }
}